@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


/* reset-css */

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

body,div,h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}




